@model IEnumerable<CatalogoDeDoces.Models.ProdutoModel>
@{
	ViewBag.Title = "Catálogo de Doces";
	var categorias = ViewBag.Categorias as List<CatalogoDeDoces.Models.CategoriaModel>;
}

<div class="text-center">

	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" role="button" asp-controller="Produto" asp-action="Criar">Adicionar novo Produto</a>
	</div>
	<br />
	<br />
	<br />

	<h1 class="display-4"> Listagem de Produtos</h1>

	<table class="table" id="table-produtos">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Descricao</th>
				<th scope="col">Preco</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (ProdutoModel produto in Model)
				{
					<tr>
						<th scope="row">@produto.Id</th>
						<td>@produto.Nome</td>
						<td>@produto.Descricao</td>
						<td>@produto.Preco</td>
						<td>
							<div class="btn-group" role="group">
								<a role="button" class="btn btn-primary" asp-route-id="@produto.Id" asp-controller="Produto" asp-action="Editar">Editar</a>
								<a role="button" class="btn btn-danger" asp-route-id="@produto.Id" asp-controller="Produto" asp-action="ApagarConfirmacao">Apagar</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr class="odd"><td valign="top" colspan="5">Nenhum contato encontrado</td></tr>
			}
		</tbody>
	</table>
</div>